doctype
html
  head
    meta(charset="utf-8")
    title Alif Word Bank
    link(rel="stylesheet", href="/homepage.css")
  body
    h2 Alif Word Bank

    h3 Concept
    p The word bank is a collection of words in Arabic and Persian languages, scraped from Wikipedia and Wiktionary. In the future it can be expanded to Urdu, Pashto, Kirgiz, and other languages which use Arabic script.
    p For each word, you get a description, an array split into letters, an array split on the baseline, and an array split into shaped forms.

    h3 Random article: request / response
    code https://alif-word-bank.herokuapp.com/random/fa
    p returns a word in JSON format:
    code.split(dir="rtl") {"shaped":["ﮐ","ﻠ","ﻮ","ﭼ","ﻪ"],"glyphs":["ک","ل","و","چ","ه"],"baseline":["کلو","چه"],"_id":"5c0bf3a150f7b2001687b5f0","language":"fa","clue":"__، روستایی از توابع بخش چنگ الماس شهرستان بیجار در استان کردستان ایران است.","normal":"کلوچه","word":"کلوچه","en": "cookie","zh":"曲奇"}

    h4 Example: a missing letter game
    p Hide one letter without changing the others' shape; check the user's answer against the normal form
    code let hideLetter = Math.floor(Math.random() * word.shaped.length);
    code word.shaped[hideLetter] = ' ? ';
    code let response = prompt(word.shaped.join('') + '\nFind the missing letter:')
    code if (response === word.glyphs[hideLetter][0]) { alert('Correct!'); }

    h3 Topical article: request/response
    code https://alif-word-bank.herokuapp.com/topic/ar/ar:حيوانات
    code https://alif-word-bank.herokuapp.com/topic/ar/en:animals

    p returns a word from the selected language and category, in JSON format
    p You can use the language codes to simplify your app, or to make use of categories which are not available in all languages.

    h4 Example: get an Arabic article in the animals category, for a crossword puzzle
    code fetch("/topic/ar/ar:حيوانات")
    code &nbsp;&nbsp;.then(res => res.json())
    code &nbsp;&nbsp;.then((word) => {
    code })

    h3 More API parameters
    p Only articles with one-word titles (for example, for crossword puzzles)
    code /topic/fa/en:countries?oneWord=true

    p Get ten words at once
    code /topic/ar/en:animals?count=10

    p Only retrieve words which are also included in the Simple English Wikipedia (this increases the likelihood of a better-known or more understandable subject)
    code /topic/ar/en:trees?inSimple=true

    p Retrieve words with only one baseline (all letters connect)
    code /topic/fa/en:countries?baseline=1

    h3 Using alif-toolkit
    code npm install alif-toolkit
    p
      span The features to do glyph-splitting, baseline-splitting, and text-shaping are all available in&nbsp;
      a(href="https://github.com/Georeactor/alif-toolkit") this NodeJS library
      span .

    script(src="/split-arabic-json.js")
